html(lang="es")
head
  meta(charset="UTF-8")
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
  link(rel="stylesheet", href="https://unpkg.com/flickity@2.0/dist/flickity.css", media="screen")
  link(rel="stylesheet", href="app.css")
  title Document
body
  div(id="container")
    header(id="header", class="Header")
    
    section(id="layout")
    
    footer(id="footer", class="Footer")

  script(src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js")
  script(src="app.js")
  

    






































    
  
  
  
  
  
  
    
    
    
    
    
    
    
    
    