formButton(){
  background-color link
  color simpleText
  padding .8em
  font-size 1.2em
  text-transform uppercase
  text-align center
  margin 1em 0
}

mainBackground    = #FFF4DF
background        = #FFFFFF
sectionBackground = #F5F5F5
formBackground    = #FFEFC5
darkTransparent   = rgba(0,0,0,0.4)
main       = #F8B500
title      = #FFFFF7
simpleText = #FFFFFF
text       = #707078
link       = #CD5752
button     = #87D4DD
darkTitle  = #000
linkHover  = #BB8C0F
