.Entries
  padding 1em
  width 70%
  background-color sectionBackground
  box-sizing border-box

  &-title
    color title
    background-color main
    padding .2em
    font-weight inherit
    width 20%

.Entrie
  height 15em
  overflow hidden

  &-header
    margin 1em 0
  
  &-title
    
    & a
      color darkTitle
      font-weight initial
  
  &-body
    display flex
    justify-content space-between
  
  &-imageContainer
    width 35%
    height 13em
    overflow hidden
    
    & img
      width 100%
  
  &-description
    width 60%
    padding 0 1em 0 0
    box-sizing border-box
    height 13em
    overflow hidden
  
  &-tag
    color link
    font-size 1.1em
  
  &-date
    margin-top .5em
    color text
    font-weight initial
    font-size .9em
  
  &-text
    margin-top 2em
    color text
    font-size 1.1em
    line-height 1.4em
    text-align justify