.Featured
  width 100%
  height 20em
  overflow hidden
  display flex
  background-color sectionBackground
  padding 1em
  margin-bottom 2em
  box-sizing border-box

  &-shows
    width 49%
    display flex
    flex-direction column
    justify-content space-around
    margin-left 1%
    
  &-show
    width 100%
    display flex
    justify-content space-between
    height 33.3%
    overflow hidden

    &:nth-child(2)
      margin 0.5em 0
  
  &-showImageLink
    width 35%
    height 120px
    overflow hidden

  &-showImage
    width 100%
  
  &-showTitle
    color link
    font-size 1.1em
    width 60%
  
  
