.Footer
  width 100%

  &-list
    display flex
    width 100%
    
  &-listItem
    flex-grow 1
    line-height 3.916em
    background-color main
    
  &-listLink
    color white
    display block
    font-size 0.8em
    text-align center
    text-transform uppercase
    
    &:hover
      color link
      text-decoration underline
























