.Navigation
  width 100%
  height 3.916em

  &-list
    display flex
    width 100%
    height 100%
    
  &-listItem
    flex-grow 1
    line-height 3.916em
    background-color main
    
  &-link
    color simpleText
    display block
    font-size 0.8em
    text-align center
    text-transform uppercase
    
    &:hover
      background-color linkHover
      