.Recommendations
  width 28%
  padding 0 .5em
  padding 1em 1%
  
  &-title
    color title
    background-color main
    font-weight inherit
    margin-bottom .5em
    padding .2em
    
  &-container
    background-color main
    padding 0 1em
    
  &-articles
    padding 0 1em