.Signin
  display flex
  width 80%
  margin 0 auto
  justify-content space-between
  
  &-imageContainer
    width 50%
    padding 1em
    box-sizing border-box
    
  &-image
    width 100%
  
  &-body
    width 40%
    display flex
    flex-direction column
    align-self center
  
  &-title
    font-size 2.5em
    color main
    padding 1em
    
  &-facebook
    padding 1em
    background link
    font-size: 1.2em
    color white
    text-align center
    margin-bottom 1em

  &-form
    display flex
    flex-direction column
    
  &-input
    padding 1em
    margin 1em 0
  
  &-submit
    background-color link
    color white
    padding .8em
    font-size 1.2em
    text-transform uppercase
    margin 1em 0