.Signin, .Signup
  display flex
  width 80%
  margin 2% auto
  padding 2em 0
  justify-content space-between
  
  &-imageContainer
    width 45%
    align-self center
    box-sizing border-box
    
  &-image
    width 100%
  
  &-body
    width 40%
    display flex
    flex-direction column
    align-self center
    padding 1em 2em
    background-color formBackground
    
  &-title
    font-size 2.5em
    color main
    padding 0.5em 1em
    
  &-facebook
    formButton()

  &-form
    display flex
    flex-direction column
    
  &-input
    padding 1em
    margin 1em 0
  
  &-submit
    formButton()
    
    
  &-message
    text-align center
    font-weight bold
    font-size 1.1em
    margin 1em 0
    
  &-register
    color link
  
    &:hover
      text-decoration underline 
    
    
    
    
    
    
    
    
    