.Tags
  display flex
  flex-wrap wrap
  justify-content space-around
  padding 1em
  
  &-list
    display flex
    justify-content space-around
    flex-wrap wrap
    
.Tag-link
  color link
  display block
  padding 1em
  
  &:hover
    color darkred
    text-decoration underline
  
  
  
  
  
  
  
  
  
  
  