mainBackground    = #FFF4DF
background        = #FFFFFF
sectionBackground = #F5F5F5
formBackground    = #FFEFC5
main      = #F8B500
title     = #FFFFF7
text      = #707078
link      = #CD5752
button    = #87D4DD
darkTitle = #000
linkHover = #BB8C0F

@import './styles/normalize'
@import './styles/reset'
@import './styles/Header'
@import './styles/Navigation'
@import './styles/Featured'
@import './styles/Slider'
@import './styles/MainContent'
@import './styles/Entries'
@import './styles/Recommendations'
@import './styles/Anime'
@import './styles/Footer'

body
  background-color mainBackground

#container
  width 93%
  margin 0 auto
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6);

.content
  width 100%













