@import './styles/normalize'
@import './styles/reset'
@import './styles/base'
@import './styles/Header'
@import './styles/Navigation'
@import './styles/Featured'
@import './styles/Slider'
@import './styles/MainContent'
@import './styles/Entries'
@import './styles/Recommendations'
@import './styles/Anime'
@import './styles/Tags'
@import './styles/Footer'
@import './styles/Signin'

body
  background-color mainBackground

#container
  width 93%
  margin 0 auto
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6);

.content
  width 100%













